apiVersion: apps/v1
kind: Deployment
metadata:
  name: query
  labels:
    app: query
spec:
  replicas: 10
  selector:
    matchLabels:
      app: query
  template:
    metadata:
      labels:
        app: query
    spec:
      nodeName: kind-worker
      containers:
        - name: query
          image: registry.local/query
          imagePullPolicy: Always